<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'fancybox-master/dist/jquery.fancybox.css' %}"
      type="text/css"
      media="screen"
    />
    <script
      type="text/javascript"
      src="{% static 'fancybox-master/dist/jquery.fancybox.min.js' %}"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css"
    />
    <script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
  </head>
  <body>
    <div class="juxtapose">
      <img src="{% static '2.jpg' %}" />
      <img src="{% static '3.jpg' %}" />
    </div>
    <script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css"
    />
  </body>
</html>
